 .App {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
#head{
    color: blue;
    font-size: 30;
    font-family: fantasy;
}  
.center{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.conatin{
    margin-left: 200px;
    columns: 3;
    column-gap: 5px;
    width: 70%;
    /* text-align: center;
    align-items: center;
    justify-content: center; */
}
.conatin img{
    width: 100%;
    margin: 0;
    padding: 5%;
}